.innerBody {
    width: 300px;
    margin: 10px 1%;
    float: left;
    border: 1px solid black;
    height: 450px;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
}

@media screen and (max-width: 970px){
  .innerBody {
    width: 45%;
    min-width: 300px;
  }
}
