input {
  padding: 0 5px;
}

.fp_container {
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1527234483219-b7c1f7ab74df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=58ecaa188401cf354a5b1baee8bfe16c&auto=format&fit=crop&w=3045&q=80');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login_block {
  width: 350px;
  margin: auto;
  padding-top: 200px;
}

.fp_form {
  width: 350px;
  height: 200px;
  background-color: rgba(255, 255, 255, .2)
}

.fp_title {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 10px;
}

.fp_input {
  float: left;
  width: 240px;
  margin: 5px 55px;
  padding: 5px;
}

.fp_submit {
  float: right;
  margin: 20px;
}
